@model IEnumerable<Gym_Core.Models.Utilisateur>

@{
    ViewData["Title"] = "Index";
}

<h1>Utilisateurs</h1>

<p>
    <a class="badge badge-pill badge-primary" asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Nom d'utilisateur
            </th>
            <th>
                Mot de passe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotdepasseUtilisateur)
            </td>
            <td>
                <a class="badge badge-pill badge-warning" asp-action="Edit" asp-route-id="@item.NomUtilisateur">Edit</a> |
                <a class="badge badge-pill badge-info" asp-action="Details" asp-route-id="@item.NomUtilisateur">Details</a> |
                <a class="badge badge-pill badge-danger" asp-action="Delete" asp-route-id="@item.NomUtilisateur">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
