@model Gym_Core.Models.Membre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Membre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomMembre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomMembre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomMembre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomMembre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatenaissanceMembre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatenaissanceMembre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactMembre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactMembre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatejointureMembre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatejointureMembre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupeNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
