@model Gym_Management_system.Models.Utilisateur

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h4>Utilisateur</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nom_utilisateur)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nom_utilisateur)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.motdepasse_utilisateur)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.motdepasse_utilisateur)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
