@model IEnumerable<Gym_Core.Models.Groupe>
@{
    ViewData["Title"] = "Index";
}
<h1>Groupes</h1>
<p>
    <a asp-action="Create" class="badge badge-pill badge-primary">Create New Groupe</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Nom Groupe
            </th>
            <th>
                Description de groupe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomGroupe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionGroupe)
            </td>
            <td>
                <a asp-action="Edit" class="badge badge-pill badge-warning" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="badge badge-pill badge-info" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="badge badge-pill badge-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
